<div ui-view='header'></div>
<md-content ng-controller="nutritionCtrl">

  <md-card class="table-responsive-vertical md-whiteframe-4dp">
  <!-- Table starts here -->
  <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Link</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Material Design Color Palette</td>
          <td>
            <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
          </td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Material Design Iconic Font</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
            <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
          </td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Material Design Hierarchical Display</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
            <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
          </td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Material Design Sidebar</td>
          <td><a href="http://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Material Design Tiles</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
          </td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Material Design Typography</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
            <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
          </td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Material Design Buttons</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
          </td>
          <td>In progress</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Material Design Form Elements</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
          </td>
          <td>In progress</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Material Design Email Template</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
          </td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Material Design Animation Timing (old one)</td>
          <td>
            <a href="http://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
          </td>
          <td>Completed</td>
        </tr>
      </tbody>
    </table>
  </md-card>
</md-content>